html {
    font-family: sans-serif;
}

input[type=text], textarea {
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}


tr:nth-child(even) {
    background: #f2f2f2
}

tr:nth-child(odd) {
    background: #FFF
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5px;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:hover {
    background-color: #dddddd;
}
