html {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #3c5068;
}

h1, h2 {
  color: #004f9e;
}

input[type=text], textarea {
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}


tr:nth-child(even) {
    background: #f2f2f2
}

tr:nth-child(odd) {
    background: #FFF
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5px;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:hover {
    background-color: #dddddd;
}

h2 {
  user-select: none;
  margin-right: 10px;
}

h2::after {
  content: "\00a0▼";
  font-size: 15px;
   display: inline-block;
   transition: transform 0.3s linear;
}

h2.collabse::after {
  transform: rotate(-90deg);
  translateX(3px);
  transition: transform 0.3s linear;
}

h2.collabse + table {
   display: none;
}

button {
    color: #fff;
    background-color: #01bbf4;
    font-weight: bold;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 14px;
    margin: 20px auto;
    display: block;
    transition: 0.2s;

}

button:hover {
    color: #fff;
    background-color: #01bbf4;
    color: #004f9e;
}

#status {
  text-align: center;  
}



#result {
  display: block;
  text-align: center;
}


#run.pending {
    color: #fff;
    background-color: grey;
    border-color: grey;
}

/* spinner */

#run.pending .spinner {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.4s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: translateY(2px) rotate(0deg);
  }
  100% {
    transform: translateY(2px) rotate(360deg);
  }
}

a {
    color: #01bbf4;
    font-weight: bold;
    transition: 0.2s;
}

a:hover {
    color: #004f9e;
    text-decoration: none;
}
